@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}

body {
    background-color: whitesmoke;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4em;
    padding: 10px 10%;
    z-index: 9999;
    position: fixed;

}

.header .logo {
    cursor: pointer;
}

.header .logo img {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);

}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: white;
    text-decoration: none;

}

.header .nav-links li a:hover {
    color: wheat;
}


.header .btn button {
    font-weight: 700;
    padding: 9px 25px;
    background: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: bisque;
    transform: scale(1.2);

}

.info {
    display: flex;
    flex-direction: column;
    padding-top: 4em;

}

.info--header {
    text-align: center;
    width: 100%;
    padding: 2em;
    margin-bottom: 1em;
    height: 30%;
    overflow: hidden;
}

.info--header__title {

    font-size: 40px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.info--header__title:hover {
    transform: scale(1.2);
}

.info--content {
    display: flex;
    flex-direction: column;
}

.info--content__desc {
    text-align: center;
    padding: 2em;
}

.info--content__desc h2 {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;


}

.info--content__desc figure img {
    border-radius: 6px;
}

.info--content__somos__title {
    text-align: center;
}

.container--participantes__card {
    display: flex;

    padding: 15px;
    justify-content: center;
}

.card-participantes {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    margin: 15px;
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(130, 130, 130, 0.2), 0 6px 20px 0 rgba(130, 130, 130, 0.2);

}

.card-participantes:hover {
    transform: scale(1.1);
}

.card--header2 {
    width: 100%;
    height: 100%;
}

.card--header2 img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.timeLine {
    content: '';
    position: absolute;
    background: rgb(0, 0, 0);
    width: 1px;
    height: calc(100%-8em);
    padding-top: 4em;
    left: 50%;
}


.child {
    position: relative;
    margin: 20px;
    opacity: 0;
}

/* Pares */
.child:nth-child(odd) {
    float: left;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.child:nth-child(odd)::before {
    content: '';
    position: absolute;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: -30px;
}

.child:nth-child(odd)::after {
    content: '';
    position: absolute;
    background: rgb(0, 0, 0);
    width: 10px;
    height: 2px;
    left: -10px;
    top: 10px;
}

/* Impares */
.child:nth-child(even) {
    float: right;
    text-align: right;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.child:nth-child(even)::before {
    content: '';
    position: absolute;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    right: -30px;
}

.child:nth-child(even)::after {
    content: '';
    position: absolute;
    background: rgb(0, 0, 0);
    width: 10px;
    height: 2px;
    right: -10px;
    top: 10px;
}

.content {
    width: 200px;
    padding: 15px;
    border-radius: 8px;
    color: rgb(252, 252, 252);
    background: rgba(45, 45, 45, 0.3);
}

/* Animacion TimeLine */

._show {
    opacity: 1;
    animation: __show 1s cubic-bezier(.99, -.7, .2, 1.9);

}

._hide {
    opacity: 0;
    animation: __hide 1s cubic-bezier(.99, -.7, .2, 1.9);
}

@keyframes __show {

    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

@keyframes __hide {

    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100px);
        opacity: 0;
    }

}

.contenido {

    padding-top: 4em;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.contentIMG {
    padding-top: 4em;
    padding-bottom: 6em;
    width: 50%;
    height: 100%;
    position: fixed;

}

* .contentIMG2 {
    padding-top: 4em;
    padding-bottom: 6em;
    width: 50%;
    height: 100%;
    margin-left: 80%;
    position: absolute;
    position: fixed;

}

.card-historia {

    margin: 20px;
    padding: 10px;
    width: 250px;
    height: auto;
    align-items: center;
    overflow: hidden;
    background-color: rgb(120, 118, 118, 0.3);
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card .card_header {
    text-align: center;
    color: white;
}

.card_header h2,
.card-historia p {

    color: #eee;
}

.card_content {
    justify-content: center;

}

.card_content img {

    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 8px;

}

.contentIMG p,
.contentIMG2 p {
    font-size: 12px;

}



.contenidoH {
    padding-top: 4em;

}

.infoContenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;

}

.infoContenido__img {
    display: flex;
    flex-direction: row;
    padding: 20px;

}

.infoContenido__img img {
    width: 500px;
    height: 300px;
    border-radius: 6px;
    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.infoContenido__img p {

    padding: 1em;
}

.infoContenidoR {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.infoContenido__imgR {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;

}

.infoContenido__imgR img {
    width: 500px;
    height: 300px;
    border-radius: 6px;
    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.infoContenido__imgR p {

    padding: 1em;
}

.infoContenido__text {
    padding: 1em;
    margin: 5px;
}

.infoContenido__text p {
    padding: 5px;
}

.infoContenido__text h2 {
    text-align: center;
}

h2,
h3 {
    margin: 10px;
}


html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 40em;
}

.swiper header h1 {
    text-align: center;
    font-size: 36px;
    padding: 20px;
    background-color: white;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-equi {
    width: 400px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);

}

.card_figure img {

    width: 300px;
    height: 300px;
    margin: 5px;
    border-radius: 40px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card_desc p {
    padding: 10px;
}

.container-Terreno,
.terreno-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.terreno-header--title {
    font-size: 36px;
    margin: 1em;
}

.terreno-inf {
    display: flex;
    padding: 10px;
    margin: 10px;
}

.terreno-inf-figure {
    display: flex;
    align-items: center;
    width: 40%;
    overflow: hidden;
    padding: 10px;
}

.terreno-inf-figureb {
    display: flex;
    align-items: center;
    width: 50%;
    overflow: hidden;
    padding: 10px;
}

.terreno-inf-figure img {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(130, 130, 130, 0.2), 0 6px 20px 0 rgba(130, 130, 130, 0.2);

}

.terreno-inf-figureb img {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(130, 130, 130, 0.2), 0 6px 20px 0 rgba(130, 130, 130, 0.2);

}

.terreno-inf-text {
    width: 60%;
}

.terreno-inf-textt {
    width: 50%;
}

.terreno-inf-text {
    display: flex;
    flex-wrap: wrap;
}

.terreno-inf-textt {
    display: flex;
    flex-wrap: wrap;
}

.terreno-inf-text__sub {

    padding: 5px;
    width: 25%;
}

.terreno-inf-text__subb {

    padding: 5px;
    width: 50%;
}

.container-arbitraje,
.arbitraje-header {
    display: flex;
    flex-direction: column;

}

.arbitraje-header {
    align-items: center;
}

.arbitraje-header--title,
.infoContenido--title {
    font-size: 36px;
    margin: 1em;
}

.arbitraje--section1 {
    display: flex;
    align-items: center;
}

.arbitraje--section1_image {
    text-align: center;
    width: 50%;
    padding: 10px;
}

.arbitraje--section1_image img {
    border-radius: 6px;
    width: 60%;
    height: 60%;
    box-shadow: 0 8px 16px 0 rgba(130, 130, 130, 0.2), 0 6px 20px 0 rgba(130, 130, 130, 0.2);

}

.container--expresiones--title {
    text-align: center;
}

.container--expresiones--title h2 {
    font-size: 26px;
}

.container--expresiones__card {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
}

.card-expresiones {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 350px;
    margin: 15px;
    border: solid 1px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(130, 130, 130, 0.2), 0 6px 20px 0 rgba(130, 130, 130, 0.2);

}

.card-expresiones:hover {
    transform: scale(1.1);
}

.card--header {
    width: 100%;
    height: 80%;
}

.card--header img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    border-radius: 8px;
}

.card--footer {
    padding: 10px;
    width: 100%;
    height: 20%;
    text-align: center;
}

.card--footer h3 {
    font-size: 16px;
    margin: 5px;
}

.infocontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoContact {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 4em;

}

.infoContact--header {
    text-align: center;
    padding-top: 10em;
    padding-bottom: 2em;
}

.infoContact--header__title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 42px;
    font-style: italic;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;

}

.infoContact--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(130, 130, 130, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
}

.infoContact--text__subtitles {
    display: flex;
    justify-content: space-between;

}

.infoContact--text__datos__informacion {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.infoContact--text__datos__informacion h4,
.infoContact--text__datos__informacion p,
.infoContact--text__datos h4 {

    color: #eee;
    text-shadow: black 0.1em 0.1em 0.2em;

}

.infoContact--text__redSocial a img {
    padding: 5px;
    width: 40px;
    height: 40px;
}

.infoContact--text-informacion {
    display: flex;
    justify-content: space-between;
}

.infoContact--text__subtitles h4,
.info--content__somos__title h2 {
    color: #eee;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin: 5px;
}

.infoContact--text__redSocial a {

    text-decoration: none;
}

.card_header h2 {
    color: black;
}


.infoContenido__text a img {
    width: 20px;
    height: auto;
}

.infoContenido__text a {
    text-decoration: none;
}