@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}

body{
    background-color: whitesmoke;
}

.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    padding: 10px 10%;

}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);

}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}
.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: white;
    text-decoration: none;

}

.header .nav-links li a:hover{
    color: wheat;
}


.header .btn button{
    font-weight: 700;
    padding: 9px 25px;
    background:  white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.header .btn button:hover{
    background-color: bisque;
    transform: scale(1.2);

}